{% extends "activeframe.html" %}
{% block content %}
{% load static %}
{% load CustFC %}
    <body onload="OpenWhatItTakes()">
        <div>
            <h1>{{PublicProductName}}</h1>
            {% if "{'Boss'}" in VisitorRoles %}
            <form action="DeleteProduct"> <button type="submit" name="ProductName" value="{{ProductName}}">{{Delete}} {{PublicProductName}}</button></form>
            {% endif %}
            {% if "DubiousStranger" in VisitorRoles  or "{'TeamMember'}" and not "{'Client'}" and not "{'Boss'}" in VisitorRoles %}
            <form action="HeroSelfInclude"><button value="{{ProductName}}" name="ProductName">{{Add}}{{AmongHTML}}{{4ClientsHTML}}</button></form>
            {% endif %}
        </div>
        <div>
            <h3>{{TeamHTML}}</h3>
            {% if "{'Boss'}" in VisitorRoles %}
            {% for TeamMember in TeamMembers %}
            <form action="DeleteHero"> <p>{{TeamMember}}<button type="submit" name="ToDelete" value="{'Role':'TeamMember','ProductName':'{{ProductName}}', 'ExheroName':'{{TeamMember}}'}">{{Delete}}</button></p></form>
            {% endfor %}
            <form action="NewProductHero" , method="post">
                {% csrf_token %}
                <div id="InfoFrame">
                    <input type="text" name="Nickname" placeholder="{{NickNnameHTML}}">
                </div>
                <button value="{'Role':'TeamMember','ProductName':'{{ProductName}}'}" name="ProductHero">{{Add}}</button>
            </form,
            {% elif "{'Client'}" or "{'TeamMember'}" in VisitorRoles %}
            {% for TeamMember in TeamMembers %}
            <p>{{TeamMember}}</p>
            {% endfor%}
            {% if "{'TeamMember'}" in VisitorRoles %}
            <form action="SelfDeleteHero"> <button type="submit" name="ToDelete" value="{'Role':'TeamMember','ProductName':'{{ProductName}}'}">{{SelfDeleteHTML}}</button></form>
            {% endif %}
            {% endif %}
        </div>

        <div>
            <h3>{{ClientsHTML}}</h3>
            {% if "{'Boss'}" in VisitorRoles %}
            {% for Client in Clients %}
            <form action="DeleteHero"> <p>{{Client}}<button type="submit" name="ToDelete" value="{'Role':'Client','ProductName':'{{ProductName}}', 'ExheroName':'{{Client}}'}">{{Delete}}</button></p></form>
            {% endfor %}
            <form action="NewProductHero" , method="post">
                {% csrf_token %}
                <div id="InfoFrame">
                    <input type="text" name="Nickname" placeholder="{{NickNnameHTML}}">
                </div>
                <button value="{'Role':'Client','ProductName':'{{ProductName}}'}" name="ProductHero">{{Add}}</button>
            </form>
            {% elif "{'Client'}" or "{'TeamMember'}" in VisitorRoles %}
            {% for Client in Clients %}
            <p>{{Client}}</p>
            {% endfor %}
            {% if "{'Client'}" in VisitorRoles %}
            <form action="SelfDeleteHero"> <button type="submit" name="ToDelete" value="{'Role':'Client','ProductName':'{{ProductName}}'}">{{SelfDeleteHTML}}</button></form>
            {% endif %}
            {% endif %}
        </div>

        <div>
            <h3>{{TasksHTML}}</h3>
            {% if "{'Boss'}" in VisitorRoles %}
            {% for Task in Tasks %}
                <div>
                    <p><h4>{{Task.Task}}</h4></p>
                    <div id="{{Task.RealTask}}">
                        <button onclick="{{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}()">{{MoreHTML}}</button>
                    </div>
                    <div hidden>
                        <div id="{{Task.RealTask}}More">
                            <div>
                                <p>
                                    <b>{{TeamHTML}}</b>:
                                    {% for Hero in Task.Hero %}
                                    <form action="DeleteTaskHero">
                                        {{Hero}}
                                        <button name="ToDelete" value="{'TaskName':'{{Task.RealTask}}','HeroIndex':'{{ forloop.counter }}', 'ProductName':'{{ProductName}}'}">{{Delete}}</button>
                                    </form>
                                </p>
                                {% endfor %}
                            </div>
                            <form action="NewTaskHero">
                                <input name="NewTaskHero" type="text" placeholder="{{NickNnameHTML}}">
                                <button name="ExtraValues" value="{'TaskName':'{{Task.RealTask}}','ProductName':'{{ProductName}}'}">
                                </button>
                            </form>
                            <form action="ResetTaskTime">
                                <input type="datetime-local" name="Deadline" placeholder="{{DeadlineHTML}}" value="{{Task.Deadline}}">
                                <script>console.log("{{Task.Deadline}}")</script>
                                <input type="time" name="WorkTime" placeholder="{{WorkTimeHTML}}" value="{{Task.WorkTime}}">
                                <button name="TaskIdentificators" value="{'TaskName':'{{Task.RealTask}}','ProductName':'{{ProductName}}'}">{{Save}}</button>
                            </form>
                            <form action="DeleteTask">
                                <button name="ToDelete" value="{'TaskName':'{{Task.RealTask}}','ProductName':'{{ProductName}}'}">{{Delete}}</button>
                            </form>
                            <div>
                                <button onclick="{{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}Less()">{{LessHTML}}</button>
                            </div>
                        </div>
            </div>
                    <div hidden id="{{Task.RealTask}}Less">
                       <button onclick="{{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}()">{{MoreHTML}}</button>
                    </div>
            </div>
            </div>
            {% endfor %}
            <div>
                <form action="NewTask">
                    <input type="text" name="TaskName" placeholder="{{TasksHTML}}">
                    <input type="text" name="HeroName" placeholder="{{NickNnameHTML}}">
                    <input type="datetime-local" name="Deadline" placeholder="{{DeadlineHTML}}">
                    <input type="time" name="WorkTime" placeholder="{{WorkTimeHTML}}">
                    <button value="{{ProductName}}" name="ProductName">{{Add}}</button>
                </form>
            </div>
            {% elif "{'Client'}" or "{'TeamMember'}" in VisitorRoles %}
            {% for Task in Tasks %}
            <div>
                <p><h4>{{Task.Task}}</h4></p>
                <p><b>{{TeamHTML}}</b>:{% for Hero in Task.Hero %}{{Hero}}{% endfor %}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div>
            <form action="Home"><button>{{Home}}</button></form>
        </div>
        
        <script>
            function OpenWhatItTakes() {
                    var Registred = sessionStorage.getItem("RegistredTasks")
                if (Registred==null) { var Registred = [] }
                {% for Task in Tasks %}
                var Included = Registred.includes("{{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}")
                if (!Included) {
                    Registred.push("{{ Task.RealTask|cut:" "|cut:" / "|cut:", " }}");
                    {{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}Less()
                } else {
                    State = sessionStorage.getItem("{{Task.RealTask}}")
                    if (State == "Closed") {
                        {{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}Less()
                    } else {
                         {{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}()
                    }
                }
                {% endfor %}
                sessionStorage.setItem("RegistredTasks", Registred)

            }

        {% for Task in Tasks %}
                         
         
            function {{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}(){
                var ToInner = document.getElementById("{{ Task.RealTask }}More").innerHTML;
                sessionStorage.setItem("{{Task.RealTask}}", "Open");
            return document.getElementById("{{ Task.RealTask }}").innerHTML = ToInner
               

            }

            function {{ Task.RealTask|cut:" "|cut:"/"|cut:"," }}Less(){
             var ToInner = document.getElementById("{{ Task.RealTask }}Less").innerHTML;
             sessionStorage.setItem("{{Task.RealTask}}", "Closed");
            return document.getElementById("{{ Task.RealTask }}").innerHTML = ToInner
            }
        {% endfor %}
        </script>


    </body>

 {% endblock %}